@model ContosoUniversity.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@if (ViewBag.Error != null) { 
<p class="error">@Html.Raw(ViewBag.Error)</p>
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}